.UserCard {
  width: 380px;
  height: 460px;
  border-radius: 20px;

  background-color: #5736A3;
  background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}